.requestDetailBox {
    /* border: 2px solid black; */
    max-width: 400px;
    margin: 1px;
}

.detailBox {
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    border: 2px solid black;
    padding-bottom: 10px;
    /* margin: auto; */
    margin: 5px;
}

.requestDetailBox2 {
  box-sizing: border-box;
  max-width: 300px;
  /* max-width: 100%; */
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  position: relative;
  transform: translateX(0%) translateY(-5%);
}

.findFlyersBtn {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.searchResultBox {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(155, 213, 236);
    border: 2px solid black;
    padding-bottom: 10px;
    /* margin: auto; */
    margin: 5px;
}