.titleTrial{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.cancelBtn {
    left: 50%;
    position: relative;
    transform: translateX(-50%) translateY(70%);
}